@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-container: var(--container);
  --color-text: var(--text);
  --color-border: var(--border);
}

.light {
  --background: #f1f1f1;
  --container: #ffffff;
  --text: #0a0a0a;
  --border: #dddddd;
}

.dark {
  --background: #0a0a0a;
  --container: #1c1c1c;
  --text: #ffffff;
  --border: #313131;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
}
